<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.wangxiangfx.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 修改/删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DemoACT"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".P2PCallAct">
        </activity>
        <activity android:name=".ServiceAct">
        </activity>
        <activity
            android:name=".TestBroadcastReceiver"
            android:label="@string/title_activity_test_broadcast_receiver"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".TestBroadcastReceiver$MyReceiver">
            <intent-filter>
                <action android:name="com.test.action3"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".VoIPReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.interrcs.sdk.yourapp.broadcast.av"/>
                <action android:name="com.interrcs.sdk.yourapp.broadcast.av_call_out"/>
            </intent-filter>
        </receiver>

        <!--
        <service
            android:name="com.cmcc.sso.service.SsoService"
            android:exported="true"
            android:process="com.cmcc.sso.service.SsoService">
            <intent-filter>
                <action android:name="com.cmcc.sso.Action.SsoService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="service_version"
                android:value="2.2.0-jar.arm"/>
        </service>
        -->
        <service
            android:name="com.feinno.sdk.dapi.RCSWorkingService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.feinno.uws.Action.RCSWorkingService"/>
            </intent-filter>
        </service>

        <receiver android:name="com.feinno.uws.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".VoIPUI"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".CallLogAct"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>
